<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689535003079-r0n8e6m64tprh97oqoqv9d8a0v63q23r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689535003079-r0n8e6m64tprh97oqoqv9d8a0v63q23r</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ZyKY5WJap1IZ5Ghc--SNua6HO427JhE</string>
	<key>GCM_SENDER_ID</key>
	<string>689535003079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bep.UnityFirebasePlayground.Ch</string>
	<key>PROJECT_ID</key>
	<string>unity-firebase-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-firebase-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689535003079:ios:4c293c182a8f06069b91e2</string>
</dict>
</plist>